.bar {
    width: 150px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #AFD7FA;
  }
  
  .container {
    width: 118px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    text-shadow: 2px 2px #000 ;
  }

.container:hover { 
  border: 5px solid #7EB5E5;
  cursor: pointer;
}

.bar-card{
  margin-left: 151px;
}
  