.side-window {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 32%;
    background-color: #333131;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
  }
  
  .window-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .window-header h2 {
    color: #ffffff;
    margin: 0;
  }
   
  .content {
    flex-grow: 1;
    background-color: #ffffff;
  }
  
  .table-container {
    margin-top: 20px;
    overflow: scroll;
    height: 250px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: #333131;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #333131;
  }
  
  th {
    font-weight: bold;
  }

 

  .btn-row1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    bottom: 100px;
  }

  .btn-row2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    bottom: 20px;
  }

  .total-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    font-weight: bold;
    background-color: rgb(176, 174, 174);
    color: #ffffff;
  }

  .reste-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(176, 174, 174);
    color: #ffffff;
  }

  
  input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #333131;
    border-radius: 2px;
    outline: none;
  }
  
  input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #333131;
  }
  
  input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 12.5px;
    font-weight: bold;
    color: #333131;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
/* Table item */ 


  .quantity-cell {
    display: flex;
    align-items: center;
  }
  
  .decrement-button,
  .increment-button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: #333131;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .increment-button {
    background-color: #5cb85c;
  }

  .decrement-button{
    background-color: #d9534f;
  }
  
  .quantity {
    margin: 0 10px;
    font-weight: bold;
  }

.arrow-btn {
  background-color: #f1f1f1;
  border: none;
  margin-left: 20px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-btn:hover {
  background-color: #ddd;
}

.dropdown-container {
  background-color: #f9f9f9;
  padding: 10px;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
}



/* Ticket Info */

  .window-ticket-info{
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .window-ticket-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .window-ticket-row {
    display: flex;
    align-items: center;
  }

  .window-ticket-value {
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
  }

  .window-pfp {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }

  .window-ticket-name {
    flex: 1;
    margin: 0;
  }
  
  
  @media screen and (max-width: 1180px) and (max-height: 820px) {

    .window-header {
      justify-content: center; 
    }
  
    .window-ticket-info {
      font-size: 13px; 
    }

    .btn-row1{
      width: 80%;
    }
  
    .btn-row2{
      width: 80%;
    }
  
  }
  